/* таблица начало */

.table{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    column-gap: 17px;
    background-color: black;
}
.table1{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    column-gap: 5px;
}
.table_button{
    font-size: 13px;
    background-color: black;
    text-decoration-color: white;
    margin-bottom: 15px;
    margin-top: 15px;
    border: 0px;
    font-family: SF Pro Display,SF Pro Icons,Helvetica Neue,Helvetica,Arial,sans-serif;
}
.link{
    color: white;
}
.table1_button{
    border: 0px;
    background-color: white;
    font-family: SF Pro Display,SF Pro Icons,Helvetica Neue,Helvetica,Arial,sans-serif;
}
.link1{
    color: black;
}
.txt_tb1{
    font-size: 1vw;
}

/* конец таблицы */

/* хедер нач */

.header{
    display: flex;
    justify-content: center;
}

/* хедер конец */

/* описание начало */

.title1{
    display: flex;
    justify-content: center;
    font-size: 5vw;
    text-align: center;
    font-family: SF Pro Display,SF Pro Icons,Helvetica Neue,Helvetica,Arial,sans-serif;
}
.text{
    display: flex;
    justify-content: center;
    text-align: center;
    font-size: 28px;
    font-family: SF Pro Display,SF Pro Icons,Helvetica Neue,Helvetica,Arial,sans-serif;
}
.price{
    display: flex;
    justify-content: center;
    font-size: 1vw;
    font-family: SF Pro Display,SF Pro Icons,Helvetica Neue,Helvetica,Arial,sans-serif;
}
.mini_table{
    display: flex;
    justify-content: center;
}
.mn_table_button{
    font-size: 1vw;
    font-family: SF Pro Display,SF Pro Icons,Helvetica Neue,Helvetica,Arial,sans-serif;
    background-color: white;
    border: 0px;
}
.link2{
    color:mediumblue;
    font-family: SF Pro Display,SF Pro Icons,Helvetica Neue,Helvetica,Arial,sans-serif;
    font-size: 1vw;
}